*{
    margin: 0;
    padding: 0;
}
.container{
    max-width:80vw;
    font-family:"Roboto variant0", Tofu;
}
.navbar{
    display:flex;
    height:67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.top-left{
    width:50%;
   
}
.top-right{
    width:50%;
   

}
.section1{
max-height: 100vh;
    
}
.section1 h1{
    font-size: 2rem;
}
.logo{
    font-size: 1.3rem;
}
.dumbelimg{
    width:283px;
}
top-right .gymimg
{
    width:466px;
}
.section2{
    padding: 73px;

}
.section2 h1{
    font-size:2.5rem;
}
.section2 p{
    padding:0 8vw;
    text-align:center;
} 
.box{
    padding:8px 0;
    margin:12px 22px;
    min-width:20vw;
    border:2px solid rgb(241, 74, 32);
    text-align: center;
    border-radius: 8px;
}
.highlighted{
    font-size:1.2rem;
    font-weight: bolder;
}
.box h2{
    font-size:2rem;
    padding:15px;
}
.box ul{
    list-style-type:none;
}
.box ul li{
    margin: 12px 2px;
    
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

.footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}

